<!DOCTYPE html>
<html lang="en">
    <title>Panel guru BK</title>
    <h1>Panel guru BK</h1>
    <center>
        <h2>Dashboard siswa</h2>
    </center>
    <div>
        <center>
            <form action='/catatan_siswa' method='post'>
                <input name="Data_siswa" type='submit' value='Data Siswa'>
                <input name="Catatan_siswa" type='submit' value='Catatan Siswa'>
            </form>
        </center>
    </div>
    <head>
        <title>Bootstrap Example</title>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    </head>

    <body>
        <br>
        {% for row in data_siswa %}
        
            <form action='/catatan_siswa' method='post' action="{{ url_for ('catatan_siswa') }}">
                <div class="row">
                    <div class="col-sm-1"></div>
                    <div class="col-sm-3">
                        <div>Nama Siswa :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.1 }}" name="nama_siswa" id="nama_siswa" type="text" class="validate"></div>

                        <div>Nomor Induk :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.2 }}" name="n_induk" id="n_induk" type="text" class="validate"></div>
                        <div>NISN :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.3 }}" name="nisn" id="nisn" type="text" class="validate"></div>

                        <div>No Hp Siswa  :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.10 }}" name="h_siswa" id="h_siswa" type="text" class="validate"></div>
                    </div>
                    <div class="col-sm-3">
                        <div>Nama Ayah :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.11 }}" name="n_ayah" id="n_ayah" type="text" class="validate"></div>

                        <div>Nomor Hp Ayah :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.12 }}" name="h_ayah" id="h_ayah" type="text" class="validate"></div>
                        <div>Nama Ibu :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.13 }}" name="n_ibu" id="n_ibu" type="text" class="validate"></div>

                        <div>No Hp Ibu  :
                            <br>
                            <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                            <input placeholder="" value="{{ row.14 }}" name="h_ibu" id="h_ibu" type="text" class="validate"></div>
                    </div>
                </form>
                    
         
            
            <br>
            <div>
            
            <!-- Part1 done -->
            <form action='/catatan_siswa' method='post' action="{{ url_for ('catatan_siswa') }}">
                
                <div class="row"> 

                    <div class="col-sm-3">
                            {% for row in poin_siswa %}
                            <div>Poin Kebaikan : 
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="{{ row }}" name="p_kebaikan" id="p_kebaikan" type="text" class="validate"></div>
    
                            <div>Jumlah:
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="{{ row  }} / {{100}}"  name="h_ayah" id="h_ayah" type="text" class="validate"></div>
                            <div>Keterangan :
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="Perlu penigkatan" name="n_ibu" id="n_ibu" type="text" class="validate"></div>
    
                            <div>Status  :
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="Baik" name="h_ibu" id="h_ibu" type="text" class="validate"></div>
                        </div>
                        <div class="col-sm-2">
                            <div>Poin Keburukan :
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="{{ row.0 }}" name="n_ayah" id="n_ayah" type="text" class="validate"></div>
    
                            <div>Jumlah:
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="{{ row.0 }} / {{100}} " name="h_ayah" id="h_ayah" type="text" class="validate"></div>
                            <div>Keterangan :
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="Beri peringatan dini " name="n_ibu" id="n_ibu" type="text" class="validate"></div>
    
                            <div>Status  :
                                <br>
                                <input placeholder="" value="{{ row.0 }}" name="id" id="id" type="hidden">
                                <input placeholder="" value="Waspada" name="h_ibu" id="h_ibu" type="text" class="validate">
                                {% endfor %} 
                                
                                <input name="Tambah_Poin" style="color:green" type='submit' value='Tambah Poin'>
                            </div>
                        </div>
                   
                    </form>
                    {% endfor %}
                  </div>
        </div>     
    </body>
</html>
