<!doctype html>
<html>
    <body>
        <center>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            <form action='/' method='post'>
                <div><input name='name' placeholder='Name'></div>
                <br>
                <br>
                <br>
                <div><input name='email' placeholder='e-mail'></div>
                <br>
                <br>
                <br>
                <br>
                <br>
                <input type='submit' value='Login'>
            </form>
        </center>

    </body>
</html>
